@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body, input{
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;

}

:root{
  --primary :rgb(51, 51, 51);
  --accent2 :rgba(0, 0, 0, 0.879);
  --secondary: whitesmoke;
  --accent1 : rgb(165, 121, 102);
}

.miocontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videomio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bgSmoke{
  background-color: var(--secondary);
}

.textDark{
  color: var(--primary);
}

.textAccent1{
  color: var(--accent1);
}

.textAccent2{
  color: var(--secondary);
}

.bg-custom{
  background-color: var(--accent2);
}
/* navbar */

.btnCustom{
  background-color: var(--accent1);
  border: none;
  border-radius: 5px;
  color: var(--secondary);
}
/*end navbar */
/* header */
.vid{
  height: 100%;
  width: 100%;
  /* opacity: 0.9; */
}

.fontCustom{
  font-family: 'Ysabeau', sans-serif;
  font-weight: 800;
  max-width: 100%;
}
/* end header



/*categorie */
.icon{
  font-size: 70px;
  color:var(--accent1)
}

.bgCategorie{
  /* height: 50vh; */
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url(/public/media/sfondoCarta.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  /* padding-left: 10%;
  padding-right: 10%; */
}
/*end categorie */


/* card annunci home */

.bg-articles{
  background-color:rgb(17, 17, 17);
  background-size: contain;
}

.fontCustomannunci{
  font-family: 'Ysabeau', sans-serif;
  font-weight: 800;
  max-width: 500px;

}

.swiper {
  width: 70%;
  /* height: 80%; */
}

.swiper-slide {
  text-align: center;
  /* background-image:url(/public/media/musica.jpg); */
  background-size: cover;
  color: rgb(165, 121, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc7  ;
  height: 500px;
  /* overflow: auto; */
  background-color: rgb(235, 230, 230);


}





@media (max-width: 1024px) {
    #swiperHome {
        display: none;
    }
}



.linkcustom{
  text-decoration: none;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.linkcustom:hover{
  color: whitesmoke !important;
  background-color: var(--accent1);
}
/* end card annunci home */

/* contatore */
.bgCount{
  /* height: 80vh; */
  background-image:linear-gradient(45deg,rgba(255, 255, 255, 0.803),rgba(255, 255, 255, 0.803)), url(/public/media/counterbg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;

}
#categoria-nome{
    text-transform: uppercase;
    color: var(--accent1);
}


.increment-numbers{
  font-size: 80px;
  color: var(--accent1);
  font-weight: 600;

}
/*end  contatore */


/* header carta in tutte le pagine */
.bgCarta{
  background-image: url(/public/media/sfondoCarta.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* fine */


/* bottoni hover da colore accent1 a bianco */
.linkcustomAccent{
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--accent1);
  padding: 5px;
  border-radius: 8px;
  transition: 0.5s;
}

.linkcustomAccent:hover{
  color: var(--accent1)!important;
  background-color: whitesmoke;
  border: solid var(--accent1);
  border-radius: 8px;
}

.linkcustomAccent2{
  text-decoration: none;
  color:var(--accent1) !important;
  background-color: whitesmoke !important;
  padding: 5px;
  border-radius: 8px;
  transition: 0.5s;
}

.linkcustomAccent2:hover{
  color: var(--accent1)!important;
  background-color: whitesmoke;
  border: solid var(--accent1);
  border-radius: 8px;
}

.btn {
    /* width: 150px; */
    background-color: rgb(165, 121, 102);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px;
  }
















.prova{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* .swiperTeam{
    width: 500px !important;
} */
.mySwiperTeam{
    width: 650px !important;
    border-top-left-radius: 5px solid var(--accent1) !important;
}
.swiperTeam {
    position: relative;
}

.swiperTeam::before,
.swiperTeam::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.swiperTeam::before {
    top: 0;
    left: 0;
    border-width: 20px 20px 0 0;
    border-color: var(--accent1) transparent transparent transparent;
}
/* .swiperTeam {
    background: rgba(212, 202, 202, 0.5);
    backdrop-filter: blur(10px);
} */

.swiperTeam::after {
    bottom: 0;
    right: 0;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent var(--accent1) transparent;
}


@media (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

















.btnlingua {
    background-color: #fff;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 4px;
    cursor: pointer;
    color: rgb(165, 121, 102);

}
/* fine bottoni */

/* INIZIO cardss */

  .text-card{
    color: var(--primary);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }

  .text-card:hover{
    color: var(--primary) !important;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .card {
    width: 350px;
    height: 350px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(/public/media/sfondoCarta.jpg);
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
  }

  .border1 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 3px solid rgb(165, 121, 102);;
    opacity: 0.5;
    left: -10px;
    top: -10px;
  }

  .card h5 {
    position: relative;
    padding: 250px 0px 20px 20px;
    /* width: 80%; */
    color: var(--accent1);
  }

  .card > img {
    width: 90%;
    position: absolute;
    top: -6%;
    left: -6%;
  }

  /* .card-color-0 {
    background-color: var(--accent1);
  } */



  /* The cover (expanding background) */
  .cover {
    position: fixed;
    background: #EB5160;
    z-index: 100;
    transform-origin: 50% 50%;
  }

  /* The open page content */
  .open-content {
    width: 100%;
    z-index: 110;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .open-content img {
    position: relative;
    width: 90%;
    margin-left: 3%;
    margin-top: 20px;
    z-index: 5;
  }

  .open-content .text {
    background: #fff;
    margin-top: -56%;
    padding: 60% 5% 5% 5%;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .open-content .text h2, .open-content .text p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  /*
  ** Transitions
  */

  .card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
  }

  .border {
    transition: opacity 200ms linear, transform 200ms ease-out;
  }

  .card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
  }

  .card h2 {
    transform: translate3d(20%, 0px, 0px);
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
  }

  /* Clicked card */
  .card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }

  .card.clicked .border {
    opacity: 0;
    transform: scale(1.3);
  }

  .card.out, .card.out img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }

  .card.out h2, .card.clicked h2 {
    transform: translate3d(20%, -40px, 0px);
    opacity: 0;
  }

  .cover {
    transition: transform 300ms ease-in-out;
  }

  .open-content {
    transition: opacity 200ms linear 0ms;
  }

  .open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
  }

  /*
  ** Media Queries
  */

  @media screen and (max-width: 600px) {
    .card-column {
      width: 90%;
    }

    .column-1 {
      padding-top: 0px;
    }

    .open-content img {
      margin-top: 40px;
    }
  }

  .image-preview{
    height: 150px;
    width: 150px;
  }

  /* categorie singole */
  .flip-card {
    background-color: transparent;


    perspective: 1000px;
    height: 300px;
    width: 300px;
  }

  .flip-card-inner {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }


  .colC{
    width: 100%;
    height: 100%;

  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: var(--accent1);
    color: white;
    transform: rotateY(180deg);
    height: 300px;
    width: 400px;
  }
.imgC{
  height: 300px;
  width: 400px;
}

.btn-ok{
  background-color: rgb(88, 155, 88);

}

.btn-no{
  background-color: rgb(200, 99, 99);
}
