@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body, input{
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
}

:root{
  --primary :rgb(51, 51, 51);
  --secondary: whitesmoke;
  --accent1 : rgb(165, 121, 102);
}

.bgSmoke{
  background-color: var(--secondary);
}

.textDark{
  color: var(--primary);
}

.textAccent1{
  color: var(--accent1);
}

.textAccent2{
  color: var(--secondary);
}

.bg-custom{
  background-color: var(--primary);
}
/* navbar */

.btnCustom{
  background-color: var(--accent1);
  border: none;
  border-radius: 5px;
  color: var(--secondary);
}
/*end navbar */
/* header */
.vid{
  height: 100%;
  width: 100%;
  /* opacity: 0.9; */
}
/* #myVideo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */
.content {  
  color: #f1f1f1;
  position: absolute;
  padding: 2%;
  z-index: 1;
  bottom: 30%;
  left: 28%;  
}

.fontCustom{
  font-family: 'Ysabeau', sans-serif;
  font-weight: 800;
  max-width: 100%;
}
/*end header */

/*categorie */
.icon{
  font-size: 50px;
  color:var(--accent1)
}

.bgCategorie{
  height: 50vh;
  background-image: url(/public/media/sfondoCarta.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
/*end categorie */


/* card annunci home */
.fontCustomannunci{
  font-family: 'Ysabeau', sans-serif;
  font-weight: 800;
  max-width: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-image:url(/public/media/arte.jpg);
  background-size: cover;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 180px; */
  height: 500px;
}

.linkcustom{
  text-decoration: none;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.linkcustom:hover{
  color: whitesmoke !important;
  background-color: var(--accent1);
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* end card annunci home */

/* contatore */
.bgCount{
  height: 80vh;
  background-image:linear-gradient(45deg,rgba(255, 255, 255, 0.803),rgba(255, 255, 255, 0.803)), url(/public/media/counterbg.jpg);
  background-size: cover;
  background-position: center;  
}

/* .bgIncrement{
  border-radius: 2px;
  border-color: var(--accent1);
  background-color: var(--primary);
  width: 150px;
  height: 150px;
  padding: 8px;
  color: var(--accent1);
} */

.increment-numbers{
  font-size: 100px;
  color: var(--accent1);
  font-weight: 800px;
}
/*end  contatore */



















/* DA FIXARE, Se volete provate, esce bello decommentando  qua sotto */






/* form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } */

  .btn {
    /* width: 150px; */
    background-color: rgb(165, 121, 102);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px;
  }
  /* body,
input {
  font-family: "Poppins", sans-serif;

} */























/* incremento numeri */
























/*
/* category welcome */

/* .background-one {
  background-color: #3b3b3b;
  width: 100%;
  height:400px;

}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}


.link-one {
  color: #ececec;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-one:hover {
  color: #3b3b3b;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

}

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(https://picsum.photos/200);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 450px;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
  /*
  clip-path: polygon(
    20% 45%,
    10% 40%,
    30% 30%,
    40% 35%,
    60% 35%,
    70% 30%,
    90% 40%,
    80% 45%,
    60% 35%,
    40% 35%,
    20% 45%,
    20% 55%,
    10% 60%,
    30% 70%,
    40% 65%,
    60% 65%,
    70% 70%,
    90% 60%,
    80% 55%,
    60% 65%,
    40% 65%,
    20% 55%
  );
  */
  /* clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
} */


/* annunci card */
/*
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}




.card {
  background: #191c29;
  width: 250px;
  height: 250px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 7px;

  color: rgba(244, 247, 248, 0.956);
  cursor: pointer;

}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;

  margin-top: 2rem;
} */


